-f https://download.pytorch.org/whl/torch_stable.html
allennlp==1.2.2
appdirs==1.4.4
attrs==20.3.0
blis==0.7.4
boto3==1.14.63
botocore==1.17.63
cached-property==1.5.2
catalogue==1.0.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dask==2021.1.1
decorator==4.4.2
Distance==0.1.3
distlib==0.3.1
docutils==0.15.2
easydict==1.9
filelock==3.0.12
Flask==1.1.2
Flask-Limiter==1.4
fuzzywuzzy==0.18.0
gdown==3.12.2
gunicorn==20.0.4
h5py==3.1.0
idna==2.8
imageio==2.9.0
importlib-metadata==3.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
jsonnet==0.17.0
jsonpickle==1.5.1
kiwisolver==1.3.1
limits==1.5.1
lmdb==1.0.0
MarkupSafe==1.1.1
matplotlib==3.3.4
murmurhash==1.0.5
natsort==7.0.1
networkx==2.5
nltk==3.5
numpy==1.20.0
opencv-python==3.4.8.29
overrides==3.1.0
packaging==20.9
pandas==1.0.5
Pillow==7.2.0
pipenv==2020.11.15
plac==1.1.3
pluggy==0.13.1
preshed==3.0.5
protobuf==3.14.0
py==1.10.0
pymongo==3.11.3
pyparsing==2.4.7
PySocks==1.7.1
pytesseract==0.3.7
pytest==6.2.2
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2020.11.13
requests==2.22.0
Rtree==0.9.7
s3transfer==0.3.4
sacremoses==0.0.43
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
sentencepiece==0.1.91
six==1.15.0
spacy==2.3.5
srsly==1.0.5
tensorboardX==2.1
termcolor==1.1.0
thinc==7.4.5
threadpoolctl==2.1.0
tifffile==2021.2.1
tokenizers==0.9.3
toml==0.10.2
toolz==0.11.1
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
tqdm==4.47.0
transformers==3.5.1
typing-extensions==3.7.4.3
urllib3==1.25.11
virtualenv==20.4.3
virtualenv-clone==0.5.4
wasabi==0.8.2
Werkzeug==1.0.1
zipp==3.4.0
opencv-python-headless==4.2.0.32
