atomicwrites==1.4.0
attrs==20.3.0
blis==0.7.4
boto3==1.14.63
botocore==1.17.63
cached-property==1.5.2
catalogue==1.0.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
cymem==2.0.5
dask==2021.1.0
decorator==4.4.2
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
gdown==3.12.2
h5py==3.1.0
idna==2.8
importlib-metadata==3.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jsonpickle==1.5.0
limits==1.5.1
lxml==4.6.2
MarkupSafe==1.1.1
murmurhash==1.0.5
networkx==2.5
nltk==3.5
numpy==1.20.1
opencv-contrib-python==4.5.1.48
opencv-python==3.4.8.29
overrides==3.1.0
packaging==20.8
Pillow==6.2.0
plac==1.1.3
pluggy==0.13.1
preshed==3.0.5
protobuf==3.14.0
py==1.10.0
pyparsing==2.4.7
PySocks==1.7.1
pytesseract==0.3.7
pytest==6.2.1
python-dateutil==2.8.1
pytils==0.3
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.4
regex==2020.11.13
requests==2.22.0
s3transfer==0.3.4
sacremoses==0.0.43
scikit-image==0.14.2
scikit-learn==0.24.1
scipy==1.1.0
sentencepiece==0.1.91
six==1.15.0
spacy==2.3.5
srsly==1.0.5
tensorboardX==2.1
termcolor==1.1.0
tesseract==0.1.3
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.9.3
toml==0.10.2
tools==0.1.9
toolz==0.11.1
tqdm==4.47.0
transformers==3.5.1
typing-extensions==3.7.4.3
urllib3==1.25.11
wasabi==0.8.0
Werkzeug==1.0.1
zipp==3.4.0
